html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3d3e3d;
    overflow-y: auto;
}
table {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    font-weight: bold;
    width: 90%;
    border-collapse: collapse;
    direction: rtl;
    float: right;
    margin: 8% 5% 0 0;
    border-collapse: collapse;
}
td {
    border: 2px solid #ddd;
    text-align: center;
    padding: 15px;
}

select {
    margin-bottom: 3.5%;
    width: 80;
    padding: 8px;
    border: 1px solid #ced4da;
    background-color: #f1faee;
    border-radius: 15px;
    transition: border-color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f1faee;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="#495057"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    padding-right: 30px;
}

.captcha {
    font-family: 'Segoe UI', sans-serif;
    color: #3d3e3d;
    font-weight: bold;
    border: 2px solid #495057;
    width: 50%;
    background: #f8f9fa;
    text-align: center;
    padding: 12px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(240, 240, 240, 0.8);
    font-size: 32px;
    background-image: url('https://www.optacom.com/components/com_breezingforms/images/captcha/backgrounds/bg6.png');
    background-blend-mode: multiply;
    margin-left: 22%;
    opacity: 0.5;
}
.c {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 400px;
    padding: 30px;
    border: 1px solid #540d6e;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #e8e8e8;
    margin: auto;
    margin-top: 4.5%;
    text-align: center;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0;
    position: relative;
}
.inputGroup input {
    font-family: 'Segoe UI', sans-serif;
    font-size: 90%;
    padding: 0.9em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: #ee4266;
    border-radius: 20px;
    width: 50%;
    transition: border-color 0.3s;
    margin: 0 auto;
    display: block;
}
.inputGroup label {
    font-weight: bold;
    border-radius: 20px;
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 6em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #3d3e3d;
    transform: translateY(-50%);
}
.inputGroup input:focus+label,
.inputGroup input:valid+label {
    transform: translateY(-150%) scale(0.8);
    left: 6em;
    padding: 0 0.4em;
    background-color: #3bceac;
    border: 3px solid #540d6e;
}
.inputGroup input:focus,
.inputGroup input:valid {
    border: 1px solid #540d6e;
    background-color: #3bceac;
    font-family: 'Segoe UI', sans-serif;
    color: #3d3e3d;
    font-weight: bold;
}
.input {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
}
.input:focus,
input:hover {
    font-family: 'Segoe UI', sans-serif;
    color: #3d3e3d;
    font-weight: bold;
    outline: none;
    background-color: #ffd23f;
    box-shadow: 0px 0px 10px rgba(61, 62, 61, 0.5);
}
.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
}
@media (max-width: 576px) {
    .inputGroup input {
        width: 100%;
    }
}
.submit-btn {
    font-weight: bold;
    width: 35%;
    background-color: #ee4266;
    color: #3d3e3d;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', sans-serif;
}
.submit-btn:hover {
    background-color: #3bceac;
    font-family: 'Segoe UI', sans-serif;
}
.checkbox-wrapper-33 {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 1px;
    --c-primary: #5f11e8;
    --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
    --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}
.checkbox-wrapper-33 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.checkbox-wrapper-33 .checkbox {
    justify-content: flex-start;
    color: rgb(100, 100, 100);
}
.checkbox-wrapper-33 .checkbox+.checkbox {
    margin-top: var(--s-small);
}
.checkbox-wrapper-33 .checkbox__symbol {
    display: inline-block;
    margin-right: calc(var(--s-small) * 0.7);
    border: var(--border-width) solid var(--c-primary);
    position: absolute;
    margin-left: -5em;
    ;
    border-radius: 0.1em;
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow var(--t-base) var(--e-out),
        background-color var(--t-base);
    box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}
.checkbox-wrapper-33 .checkbox__symbol:after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 0.25em;
    height: 0.25em;
    background-color: var(--c-primary-20-percent-opacity);
    opacity: 0;
    border-radius: 3em;
    transform: scale(1);
    transform-origin: 50% 50%;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox {
    width: 1em;
    height: 1em;
    margin: auto;
    fill: none;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    color: var(--c-primary);
    display: inline-block;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox path {
    transition: stroke-dashoffset var(--t-fast) var(--e-in);
    stroke-dasharray: 30px, 31px;
    stroke-dashoffset: 31px;
}
.checkbox-wrapper-33 .checkbox__textwrapper {
    font-weight: bold;
    color: #3d3e3d;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}
.checkbox-wrapper-33 .checkbox__trigger:checked+.checkbox__symbol:after {
    -webkit-animation: ripple-33 1.5s var(--e-out);
    animation: ripple-33 1.5s var(--e-out);
}
.checkbox-wrapper-33 .checkbox__trigger:checked+.checkbox__symbol .icon-checkbox path {
    transition: stroke-dashoffset var(--t-base) var(--e-out);
    stroke-dashoffset: 0px;
}
.checkbox-wrapper-33 .checkbox__trigger:focus+.checkbox__symbol {
    box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}
@-webkit-keyframes ripple-33 {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(20);
    }
}
@keyframes ripple-33 {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(20);
    }
}
.div-form-btn {
    width: 25%;
    margin-left: 1%;
}
#newPass, #newPass2,#read-username {
    width: 60%;
}
#i1 {
    margin: 10% 0 0 10%;
    font-size: 16px;
    padding: 8px 18px; 
    width: 200px; 
    height: 50px;
}
#user-level {
    font-weight: bold;
    text-align: center;
    color: #3d3e3d;
    width: 50%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #3bceac;
}

#div-user-level {
    font-weight: bold;
    color: #3d3e3d;
    text-align: center;
    margin-left: 140px;
    width: 30%;
    font-family: 'Segoe UI', sans-serif;
}